<template name="task">
  <div class="Task ui-state-default clearfix">
    <div class="buttonDockRight">
      <button id="stackRowAddInputButton" class="noStyling stackIcon TaskComplete">
        <span class="glyphicon glyphicon-ok-circle"></span>
      </button>
    </div>
    <div class="TaskTitle">
      <div class="TaskHandle">
        <span class="handle glyphicon glyphicon-align-justify" ></span>
      </div>
      {{name}}
      <div class="TaskEdit">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
  </div>
</template>