<template name="task">
  <div class="Task ui-state-default clearfix">
    <div class="buttonDockRight">
      <button id="stackRowAddInputButton" class="noStyling stackIcon TaskComplete">
        <span class="glyphicon glyphicon-ok-circle"></span>
      </button>
    </div>
    <div class="TaskTitle">
      <div class="TaskHandle">
        <span class="handle glyphicon glyphicon-align-justify" ></span>
      </div>
      {{{name}}}
      <div class="TaskEditButton">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
    <form class='TaskEditForm hidden'>
            <input type="text" class="form-control TaskEditDescInput" value="{{name}}"/>
          <button type="button" class="btn btn-default btn-sm TaskEditSubmit"><span class="glyphicon glyphicon-ok"></span></button>
          <button type="button" class="btn btn-default btn-sm TaskEditCancel"><span class="glyphicon glyphicon-remove"></span></button>
        
    </form>
  </div>
</template>