<template name="tasks">
  <div class="Tasks sortable taskSortableShare">
    {{#each tasks}}
      <div class="Task ui-state-default">
        <div class="TaskTitle">
        {{#if $isEditing}}
          <span class="handle glyphicon glyphicon-resize-vertical"></span>
        {{/if}}  
          {{name}}
        </div>
        <div class="TaskRemove">
          <a href="" class="glyphicon glyphicon-ok-circle"></a>
        </div>
      </div>
    {{/each}}
  </div>

  {{ >TaskAddTpl}}
 
</template>