<template name="TaskAddTpl">
    <div class="TaskAdd">
    	<div class="TaskAddButton">
    		<button class="stackIcon"><span class="glyphicon glyphicon-plus-sign"></span></button>
    	</div>
    	<div class='TaskAddForm'>
          	<textarea class="form-control taskAddDescInput" ></textarea>
	        <button type="button" class="stackIcon TaskAddSubmit"><span class="glyphicon glyphicon-ok"></span></button>
	        <button type="button" class="stackIcon TaskAddCancel"><span class="glyphicon glyphicon-remove"></span></button>
	    </div>
    </div>
</template>