<template name="tasks">
  <div class="Tasks sortable taskSortableShare ">
    {{#each tasks}}
      <div class="Task ui-state-default clearfix">
        <div class="TaskTitle">
        {{#if $isEditing}}
          <span class="handle glyphicon glyphicon-resize-vertical"></span>
        {{/if}}  
          {{name}}
        </div>
        <button id="stackRowAddInputButton" class="noStyling stackIcon TaskComplete">
          <span class="glyphicon glyphicon-ok-circle"></span>
        </button>
      </div>
    {{/each}}
  </div>

  {{ >TaskAddTpl}}
 
</template>