<template name="task">
  <div class="Task ui-state-default clearfix">
    <div class="buttonDockRight">
      <button id="stackRowAddInputButton" class="stackIcon TaskComplete">
        <span class="glyphicon glyphicon-ok-circle"></span>
      </button>
    </div>
    <div class="TaskTitle">
      <div class="TaskHandle">
        <span class="handle glyphicon glyphicon-align-justify" ></span>
      </div>
      <span class="taskName">{{{name}}}</span>
      <div class="TaskEditButton">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
    <form class='TaskEditForm hidden'>
      <textarea class="form-control TaskEditDescInput">{{name}}</textarea>
      <button type="button" class="stackIcon TaskEditSubmit"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="stackIcon TaskEditCancel"><span class="glyphicon glyphicon-remove"></span></button>
    </form>
  </div>
</template>