.AddStackRow {
    cursor: pointer;
    border-style: solid;
    border-color: #FFCE63;
    background-color: #FFCE63;
    border-width: 1px;
    position:relative;
    margin-top: 5px;
}

.AddStackInputs {
  padding: 0.5em;
  position:relative;
  margin-right:4em;
  margin-left:4em;
}