@import "lib/lib";


//-----------------------------------
// Stack Global
//-----------------------------------

.Stack {
    background-color: @c5;
    position:relative;
}

.Stack .stack-sort-highlight {
    height: 100px;
    background-color: red;
    margin-bottom: 0.5em;
}

//-----------------------------------
// Stack Header Bar
//-----------------------------------

.StackHeader {
    background-color: @c4;
    .fontLargeBlack;
    position: relative;
}
    
    .StackHeader a {
       color: @black; 
    }

    .StackHeader .stackButtonDock {
        position:absolute;
        right:0;
        top:0;
        text-align:right;
        display: inline-block;
    }

    .StackHeader .stackCollaboratorContainer {
        margin-top: 3px;
        width: 29px;
        height: 29px;
        float: left;
        display: inline-block;
        position: relative;
    }

    .StackHeader .stackCollaboratorContainer:last-child {
        margin-right: 3px;
    }

    .StackHeader .fbCollaboratorImg  {
        width: 100%;
        height: 100%;
        padding: 0.1em;
        cursor: pointer;
    }

    .StackHeader .fbOwnerImage {
        width: 29px;
        height: 29px;
        margin: 3px;
        float: left;
    }

    .StackHeader .StackTitle {
        padding: 0.5em 0 0.5em 0.5em;
        .fontLargeBlack;
        display:inline-block;
    }

    .StackHeader .StackEditForm {
        padding: 0 0.5em 0.5em 0.5em;
    }

        .StackHeader .StackEditForm input,
        .StackHeader .StackEditForm textarea  {
            margin-bottom: 0.5em;
        }

    .StackHeader .StackShare,
    .StackHeader .StackRemove {
        cursor:pointer;
        display:inline;
        float: none;
    }

        .StackHeader .StackRemove .glyphicon-trash {
            left: -1px;
            top: 3px;
        }

        .StackHeader .StackShare .glyphContainer {
            position: relative;
            left: -2px;
            top: 2px;
        }

    .StackHeader .glyphicon-plus-sign{
        position: absolute; 
        top: 5px;
        left: 19px; 
        font-size: 9px;
    }

    .StackHeader .AddStackInputs {
        padding: 0.5em;
        position:relative;
        margin-right:4em;
        margin-left:4em;
    }

    .StackHeader .StackAddSubmit {
        width:80px;   
    }

    .StackHeader .StackAddCancel {
        width:80px;   
    }

    .StackHeader .StackEditButton {
        cursor:pointer;
        font-size:12px;
        display:inline;
        margin-left:0.5em;
        height: 23px;
        color: #999999;
    }

    .StackHeader .StackShareInput {
        position:absolute;
        right:0.5em;
        top: 0.5em;
        .fontMidBlack;
    }


//-----------------------------------
// Stack Description
//-----------------------------------

.StackDescription {
    padding-left:0.5em;
    padding-top:0.5em;  
    .fontMidBlack;  
}

//-----------------------------------
// Stack Body
//-----------------------------------

.StackBody {
    padding: 0.5em 0.5em 0.1em 0.5em;
}



















