/*
Light blue: 7DAAFF
Mid blue: 6399FF
Dark blue: 345FB2
Gold: FFCE63
Dark Gold: B28522
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    background-color: white;
}

.upper-right {
    position: absolute;
    top:0.0em;
    right:0.5em; 
}

.right {
    position: absolute;
    right:0.5em; 
    top:0.25em;
}

.text-align-right {
    padding-right:1em;
    text-align: right;
}

.container-fluid {
    height: 1500px;
    width:500px;
}

.stackTitle {
    font-size: 18px;
    font-weight: bold;
    color: #B28522;
    margin-left: 0.25em;
}

.stackRow {
    cursor: default;
    border-style: solid;
    border-color: #B28522;
    border-width: 1px;
    margin-top: 1em;
    padding:0.25em;
    position:relative;
}

.stackRowAdd {
    cursor: pointer;
    border-style: solid;
    border-color: #FFCE63;
    background-color: #FFCE63;
    border-width: 1px;
    position:relative;
}

.taskTitle {
    font-size: 12px;
    font-weight: bold;
    color: #345FB2;
}

.taskTitleAdd, .taskTitleAdd a {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

.taskRow {
    cursor: default;
    border-style: solid;
    border-color: #345FB2;
    border-width: 1px;
    margin: 1em;
    padding:0.25em;
    position:relative;
}

.taskRowAdd {
    cursor: pointer;
    border-style: solid;
    border-color: #7DAAFF;
    background-color: #7DAAFF;
    border-width: 1px;
    margin: 1em;
    padding:0.25em;
    position:relative;
}

.stickyFooter {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #efefef;
}

.footerCenter {
    display: inline-block;
    height: 100%;
}

@media (min-width: 992px) {
    #stack2, 
    #stack3 {
        display: block;
    }
}