.Task {
    cursor: default;
    border-style: solid;
    border-color: #345FB2;
    border-width: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding:0.25em;
    position:relative;
}

.TaskAdd {
    cursor: pointer;
    background-color: #7DAAFF;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding:0.25em;
    position:relative;
}

.TaskAddButton, .TaskAddButton a {
  color: #FFFFFF;
}

.taskTitle {
    font-size: 12px;
    font-weight: bold;
    color: #345FB2;
}