@import "lib/lib";

.Task {
    .fontMidWhite;
    border: none;
    background-color: @white;
    margin-bottom: 0.5em;
    position:relative;
}

.Task .TaskTitle {
    .fontMidBlack;
    margin: 0.5em;
    padding-right:40px;
}

.TaskAdd .form-group {
    margin-bottom: 0.5em;
}

.TaskAdd .form-group:last-child {
    margin-bottom: 0;
}

.Task .TaskComplete {
    position: absolute;
    right: 0;
    top:0;
    padding:0.5em;
    color: @black;
}

.Task .TaskComplete:hover {
    color: green;
}

.TaskStartStop {
    cursor:pointer;
    position:absolute;
    top:0px;
    right:20px;
    padding:0.5em;
}

.TaskComplete a, .TaskStartStop a {
    color: @black;
}

.TaskAdd {
    .fontMidWhite;
    float:left;
    cursor: pointer;
    background-color: @c2;
    margin-bottom: 0.5em;
    padding:0.5em;
}

.TaskAdd a {
    color: @white;
}

.TaskAdd input {
    color: @black;
}