@import "lib/lib";

.Tasks {
}

.Task {
    .fontMidWhite;
    border: none;
    background-color: @white;
    margin-bottom: 0.5em;
    position:relative;
    -webkit-box-shadow: -1px 0px 1px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    -1px 0px 1px 0px rgba(50, 50, 50, 1);
    box-shadow:         -1px 0px 1px 0px rgba(50, 50, 50, 1);
}

.Task .TaskTitle {
    float: left;
    margin: 0.5em 0 0 0.5em;
    .fontMidBlack;
}

.TaskAdd .form-group {
    margin-bottom: 0.5em;
}
.TaskAdd .form-group:last-child {
    margin-bottom: 0;
}

.Task .TaskComplete {
    float:right;
    height: 28px;
    color: white;
}
.Task .TaskComplete:hover {
    color: green;
}

.TaskComplete a {
    color: @black;
}

.TaskAdd {
    .fontMidWhite;
    cursor: pointer;
    background-color: @c2;
    margin-bottom: 0.5em;
    padding:0.5em;
    position:relative;
    border-radius: 3px;
}

.TaskAdd a {
    color: @white;
}

.TaskAdd input {
    color: @black;
}