@import "lib/lib";

.Task {
    .fontMidWhite;
    border: none;
    background-color: @white;
    margin-bottom: 0.5em;
    position:relative;
}

.Task .TaskTitle {
    padding: 0.5em;
    .fontMidBlack;
}

.TaskAdd .form-group {
    margin-bottom: 0.5em;
}

.TaskAdd .form-group:last-child {
    margin-bottom: 0;
}

.Task .TaskComplete {
    color: @black;
}

.Task .TaskComplete:hover {
    color: green;
}

.Task .buttonDockRight {
    float: right;
}

.Task .buttonDockRight .stackIcon{
    float: left;
    width: 21px;
    height: 29px;
    color: @black;
}

.Task .buttonDockRight .stackIcon:hover {
    color: @gray;
}


.TaskAdd {
    .fontMidWhite;
    float:left;
    cursor: pointer;
    background-color: @c2;
    margin-bottom: 0.5em;
    padding:0.5em;
}

.TaskAdd a {
    color: @white;
}

.TaskAdd input {
    color: @black;
}