<template name="StackAddTpl">
  <div class="StackAdd">
      <div class='AddStackInputs hidden'>
        <input style='width:100%; margin-right: 100px;' id='AddStackNameInput' placeholder="Stack Name..." />
        <div style='margin-right: 100px; margin-top:0.5em;'>
          <textarea style='width:100%; resize:none;' id='AddStackDescInput' placeholder="Description..."></textarea>
        </div>
        <button class="CreateStackButton" style='background-color:#00CF00; position:absolute; right:1em; bottom:1em;'>Create!</button>
      </div>
      <div class="AddStackButton stackTitle text-align-right" id="stackRowAddInputButton"><a href="">+ Stack</a></div>
  </div>
</template>