<template name='home'>
    <div class="container-fluid">
        
        <img src="{{user_image}}" alt="{{user_name}}" height="42" width="42">
        

        <button type="button" class="btn btn-link logout">logout</button>
        {{#each stacks}}
			<div class="Stack" id="{{_id}}">
                <div class="stackTitle" id="{{_id}}">
                    <a href="">{{name}}</a>
                </div>
                <div class="StackShare"><a href="" class="glyphicon glyphicon-user"></a></div>
                <div class="StackRemove">
                    <a href="" id="{{_id}}" class="glyphicon glyphicon-minus"></a>
                </div>

                <div class="StackShareInput right hidden">
                    <input placeholder="Add contributor..." 
                        autocomplete="on" spellcheck="off"
                        data-source="contributors" />
                </div>
                <div class="StackDescription">{{description}}</div>
                
                 {{#each tasks}}
                     <div class="Task taskBump">
                        <div class="taskTitle">
                            {{name}}
                        </div>
                        <div class="taskTitle text-align-right right taskRowRemove">
                            <a href="" class="glyphicon glyphicon-ok-circle"></a>
                        </div>
                     </div>
                 {{/each}}

                 {{ >TaskAddTpl}}
           	</div>
		{{/each}}
        
        {{ >StackAddTpl}}
    </div>
</template>
