<template name='home'>
	<div class="navbar">
		<div class="profilePic"></div>
		<div class="title">Home stash</div> 
	</div>
	<div class="content clear">
		<div class="leftContent clear">
			<div class="stashHeader">Stashes</div>
			<img src="images/home_inactive.png" />
			<img src="images/home_inactive.png" />
			<img src="images/home_inactive.png" />
		</div>
		<div class="rightContent clear">
			<div class="task">Task 1</div>
			<div class="task">Task 2</div>
			<div class="task">Task 3</div>
			<div class="task addTask">+</div>
		</div>
	</div>
</template>