<template name='home'>
	<div class="navbar">
		<div class="profilePic"></div>
		<div class="title">Stack Title</div> 
	</div>
	<div class="content clear">
		<div class="leftContent clear">
			<div class="stackHeader">Stacks</div>
			{{#each stacks}}
				<div class="stack">
				<img src="images/home_inactive.png" />
					<div class="deleteStack">X</div>
					<div>{{name}}</div>
				</div>
				
			{{/each}}
				<input class="addStack" type="text" placeholder="new stack"/>
		</div>
		<div class="rightContent clear">
				{{#each tasks}}
					<div class="task">{{this}}</div>
				{{/each}}
			<div class="task addTask">+</div>
		</div>
	</div>
</template>