<template name="settings">
  <!-- Logout Modal -->
  <div class="headerModal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn btn-default logout" data-dismiss="modal">Log out?</button>
          <button type="button" class="btn btn-default logout" data-dismiss="modal">Change Password?</button>
          <button type="button" class="btn btn-default logout" data-dismiss="modal">Have a problem?</button>
        </div> 
      </div>
    </div>
  </div>
</template>