<template name="stack">
  <div class="Stack contentMargins" id="{{_id}}">
    <div class="StackHeader stackSortHandle clearfix" id="{{_id}}">
      <img class="fbCollaboratorImg fbPhotoMini contributorImg" title="{{$userNameByUserId userId}}" alt="{{$userNameByUserId userId}}" src="{{$fbImageByUserId userId}}"/>
      <div class="StackTitle">
        {{name}}
      </div>
      
      <div class="stackButtonDock">
        {{#each collaboratorsMap this}}
          {{>stackCollaborator this}}
        {{/each}}

        <button class="noStyling stackIcon StackShare">
          <div style="position:relative;">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-plus-sign" style="position: absolute; top:5px;left:13px; font-size:9px;"></span>
          </div>
        </button>
      </div>
      <div class="StackShareInput hidden">
        <input placeholder="Add contributor..." 
            autocomplete="on" spellcheck="off"
            data-source="contributors" />
      </div>
    </div>
    {{#if description}}
      <div class="StackDescription">{{description}}</div>
    {{/if}}
    <div class="StackBody">      
      {{>tasks this}}
      {{>stackFooter this}}
    </div>  
  </div>
</template>