<template name="stackCollaborator">
    <div class="stackCollaboratorContainer">
        <img class="fbCollaboratorImg fbPhotoMini contributorImg myDropdown" title="{{$userNameByUserId this.id}}" alt="{{$userNameByUserId this.id}}" src="{{$fbImageByUserId this.id}}" data-toggle="dropdown" />
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a role="menuitem" class="removeCollaborator" tabindex="-1" href="#">Remove</a></li>
            <li><a role="menuitem" class="viewStacks" tabindex="-1" href="#">Stacks</a></li>
            <li><a role="menuitem" class="viewFacebook" tabindex="-1" href="#">Facebook</a></li>
        </ul>
    </div>
</template>
