<template name="stackAdd">
  <div class="StackAdd">
      <div class='StackAddInputs hidden'>
        <input class='StackAddNameInput' placeholder="Stack Name..." />
        <div>
          <textarea class='StackAddDescInput' placeholder="Description..."></textarea>
        </div>
        <button class="StackAddCommitButton">Create!</button>
      </div>
      <div class="StackAddButton" id="stackRowAddInputButton">
        <span class="glyphicon glyphicon-plus-sign"></span> 
      </div>
  </div>
</template>