<template name="stack">
  <div class="Stack" id="{{_id}}">
    <div class="StackHeader" id="{{_id}}">
      {{name}}
      {{#each collaboratorsMap this}}
          {{>stackCollaborator this}}
      {{/each}}
    </div>
    <div class="StackBody">
      <div class="StackShare"><a href="" class="glyphicon glyphicon-user"></a></div>
      <div class="StackRemove">
        <a href="" class="glyphicon glyphicon-minus"></a>
      </div>

      <div class="StackShareInput right hidden">
        <input placeholder="Add contributor..." 
            autocomplete="on" spellcheck="off"
            data-source="contributors" />
      </div>
      <div class="StackDescription">{{description}}</div>
      
      {{>tasks this}}
    </div>  
  </div>
</template>